@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Playpen+Sans:wght@500&display=swap');

/* font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Playpen Sans', cursive; */

* {
    font-family: 'Playpen Sans', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 32px;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #fe5b3d;
    --second-color: #ffac38;
    --text-color: #444;
    --gradient: liner-gradient(#fe5b3d, #ffac38);
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 80px;
}

section {
    padding: 50px 100px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeff1;
    padding: 15px 100px;
}

.logo img {
    width: 40px;
}

.navbar {
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 16px;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--second-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: .6s;
}

.navbar a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.fa-xmark {
    display: none;
}

.header-btn a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 600;
}

.header-btn .singin {
    background-color: #474fa0;
    border-radius: 8px;
}

.header-btn .signin {
    background-color: #474fa0;
    color: #fff;
    border-radius: 8px;
}

.signup {
    background-color: rgb(209, 204, 204);
    border-radius: 8px;
}

.header-btn .signin:hover {
    background-color: var(--second-color);
}

/* home */

.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(img/Car\ Website\ –\ 1@2x.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
}

.text h1 {
    font-size: 56px;
    letter-spacing: 2px;
}

.text span {
    color: var(--main-color);
}

.text p {
    margin: 4px 0 16px;
}

.app-stores {
    display: flex;
}

.app-stores img {
    width: 100px;
    margin-right: 16px;
    cursor: pointer;
}

/* form */

.form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    position: absolute;
    bottom: 4rem;
    left: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.input-box {
    flex: 1 1 7rem;
}

.input-box span {
    font-weight: 600;
}

.input-box input {
    padding: 7px;
    outline: none;
    border: none;
    background-color: #eeeff1;
    border-radius: 8px;
    font-size: 16px;
}

.form-container form .btn {
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 8px;
    background-color: #474fa0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: .4s;
    cursor: pointer;
}

.form-container form .btn:hover {
    background-color: var(--second-color);
}

/* ride */

.heading {
    text-align: center;
}

.heading span {
    text-transform: uppercase;
}

.heading h1 {
    font-size: 32px;
}

.ride-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 16px;
    margin-top: 32px;
}

.ride-container .box {
    text-align: center;
    padding: 20px;
}

.ride-container .box i {
    font-size: 34px;
    padding: 10px;
    background-color: #eeeff1;
    border-radius: 8px;
    color: var(--main-color);
}

.ride-container .box h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1.4rem 0 .5rem;
}

.ride-container .box i:hover,
.ride-container i:hover {
    background-image: linear-gradient(#fe5b3d, #ffac38);
    color: #fff;
    cursor: pointer;
}

/* services */

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}

.services-container .box {
    padding: 10px;
    border-radius: 16px;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.services-container .box .box-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.services-container .box .box-img img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    transition: .6s;
}

.services-container .box .box-img img:hover {
    transform: scale(1.2);
    transition: 1s;
    overflow: hidden;
}



.services-container .box p {
    padding: 0 10px;
    border: 1px solid var(--text-color);
    width: 58px;
    border-radius: 8px;
    margin: 16px 0 16px;
    box-sizing: border-box;
}

.services-container .box h3 {
    font-weight: 600;
}

.services-container .box h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--main-color);
    margin: 4px 0 6px;
}

.services-container .box h2 span {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}

.services-container .box .btn {
    display: flex;
    justify-content: flex-start;
    background-color: #474fa0;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    transition: .4s;
}

.services-container .box .btn:hover {
    background-color: var(--main-color);
}

/* about */

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 32px;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.about-img img {
    width: 100%;
}

.about-text span {
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
}

.about-text p {
    margin: 8px 0 20px;
}

.about-text .btn {
    padding: 10px 20px;
    background-color: #474fa0;
    color: #fff;
    border-radius: 8px;
    transition: .4s;
}

.about-text .btn:hover {
    background-color: var(--main-color);
}

/* reviwes */

.reviwes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 16px;
    margin-top: 32px;
}

.rev-img {
    width: 70px;
    height: 70px;
}

.rev-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 3px solid var(--second-color);
}

.reviwes-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 40px rgba(0, 0, 0, .2);
    border-radius: 8px;
}

.reviwes-container .box h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 8px 0 8px;
}

.reviwes-container .box p {
    font-style: italic;
    margin-top: 4px;
}

.reviwes-container .box .starts i {
    color: var(--main-color);
}


/* newsletter */

.newsletter {
    background: linear-gradient(to top right, #fe5b3d, #ffac38);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter h2 {
    color: #fff;
    font-size: 24px;
}

.newsletter .box {
    margin-top: 16px;
    background: #fff;
    border-radius: 8px;
    padding: 4px 8px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.newsletter .box input {
    border: none;
    outline: none;
}

.newsletter .box .btn {
    background: #474fa0;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
}

.copyright {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social a {
    color: #444;
    padding: 10px;
    font-size: 24px;
}

.social a:hover {
    color: #474fa0;
}

/* responsive */

@media (max-width: 990px) {
    header {
        padding: 18px 40px;
    }

    section {
        padding: 50px 40px;
    }
}

@media (max-width: 890px) {
    .home {
        background-position: left;
    }

    .form-container form {
        bottom: 0.2rem;
        left: 40px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 11px 40px;
    }

    #menu-icon {
        display: initial;
    }

    .signup {
        display: none;
    }

    .text h1 {
        font-size: 2.5rem;
    }

    .home {
        grid-template-columns: 1fr;
    }

    .form-container form {
        position: unset;
    }

    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-sizing: 0 4px 4px rgba(0, 0, 0, .1);
        transition: .3s ease-in-out;
        text-align: left;
    }

    .navbar.active {
        top: 100%;
        transition: .7s;
    }

    .navbar a {
        padding: 16px;
        border-left: 2px solid var(--main-color);
        margin: 16px;
        display: block;
    }

    .navbar a:hover {
        color: #fff;
        background: var(--main-color);
        border: none;
    }

    .navbar a::after {
        display: none;
    }

    .heading span {
        font-size: .9rem;
        font-weight: 600;
    }

    .heading h1 {
        font-size: 1.2rem;
    }

    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .services-container {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 568px) {
    .copyright {
        flex-direction: column;
    }

    .newsletter .box {
        width: 285px;
    }
    .services-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 16px;
    }

}

@media (max-width: 351px) {
    header {
        padding: 4px 14px;
    }

    .logo img {
        width: 30px;
    }

    section {
        padding: 50px 14px;
    }

    .header-btn .signin {
        padding: 7px 10px;
        font-size: 14px;
        font-weight: 500;
    }

    .text h1 {
        font-size: 2rem;
    }

    .form-container {
        padding-top: 36px;
    }

    .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: auto;
        gap: 16px;
    }

}

/* slider */

.vehicles .vehicles-slider {
    padding: 50px;
}

.vehicles .vehicles-slider .box {
    text-align: center;
}

.vehicles .vehicles-slider .box img {
    width: 100%;
    opacity: .5;
    transform: scale(.8);
}

.vehicles .vehicles-slider .box .content {
    transform: scale(0);
    padding-top: 1rem;
}

.vehicles .vehicles-slider .swiper-slide-active .content {
    transform: scale(1);
}

.vehicles .vehicles-slider .swiper-slide-active img {
    opacity: 1;
    transform: scale(1);
}

.vehicles .vehicles-slider .box .content h3 {
    font-size: 28px;
    color: var(--text-color);
}

.vehicles .vehicles-slider .box .content .price {
    font-size: 40px;
    color: var(--second-color);
    padding: 12px 0;
    font-weight: 700;
}

.vehicles .vehicles-slider .box .content .price span {
    font-size: 22px;
    color: var(--main-color);
    font-weight: 400;
}

.vehicles .vehicles-slider .box .content .btn {
    background-color: #474fa0;
    color: #fff;
    border-radius: 8px;
    transition: .4s;
    font-size: 20px;
    margin-top: 15px;
    padding: 15px 25px;
    outline: none;
    border: none;
}

.vehicles .vehicles-slider .box .content .btn:hover {
    background-color: var(--main-color);
}

.vehicles .vehicles-slider .box .content p {
    font-size: 1.2rem;
    padding: 1rem;
    padding-top: 1.5rem;
    border-top: 1px solid #474fa0;
    color: var(--text-color);
}

.swiper-pagination-bullet-active {
    background: #ffac38;
}

